/*basic reset*/
* {margin: 0; padding: 0;}
/*adding a black bg to the body to make things clearer*/

/* STARS */
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

body {
  /*background: black;*/
  font-family: Orbitron, monospace;
}

#message {
  position: absolute;
  font-size: 80px;
  z-index: 100;
  width: 250px;
  height:250px;
  line-height: 250px;
  text-align: center;
  color: #84B0D8;
  overflow: hidden;
  /*border: solid 1px #fff;*/
  padding: 0;
}
.blink_me {
  animation: blinker 5s linear infinite;
}

.spin_me {
  animation: spin 5s linear infinite, blinker 5s linear infinite;
}
@keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.2; }
  100% { opacity: 1.0; }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}



@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
